</div>
<section id="ending" class="mt-5 pb-4 bg-dark">
    <section id="contact" class="pt-3 pt-lg-5 container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="pl-3 pl-lg-2">
                    <h1 class="animated fadeInLeft pt-2" data-wow-delay="300ms">Contact us</h1>
                </div>
                <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="500ms">
                    <h3>Address</h3>
                    <p>IEEE PES Student Branch Chapter<br>
                        Rajagiri School of Engineering and Technology <br>
                        Kakkanad, Kochi <br>
                        Kerala - 682039</p>
                </div>

                <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="500ms">
                    <h3>Contact Details</h3>
                    <p>
                        Feel free to contact us anytime at our E-mail ID:
                        <br> rsetieeepessbc@rajagiritech.edu.in
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-4 mt-lg-1">
                <div class="row justify-content-center mapxx">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15717.132266812512!2d76.3580909!3d9.9934604!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc81786bb40617774!2sRajagiri%20School%20of%20Engineering%20%26%20Technology!5e0!3m2!1sen!2sin!4v1593065372478!5m2!1sen!2sin"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="credits">
        <div class="row justify-content-center pt-5 mt-3">
            <div class="col-12 text-center">
                <p class="mb-2">
                    Designed and Developed by <strong>Ananthu T Mani</strong>
                </p>
                <p class="icons" id="bottomline">
                    <a target="_blank" href="https://github.com/ananthutmani">
                        <i class="pr-2 fa fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/ananthu-t-mani">
                        <i class="pl-2 fa fa-linkedin"></i>
                    </a>
                </p>
            </div>
        </div>
    </section>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>