<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Welcome to the official website of the IEEE Power and Energy Society SBC of Rajagiri School of Engineering and Technology.">
    <meta name="keywords"
        content="IEEE RSET Rajagiri School of Engineering and Technology SB Student Branch KHM war Exuro exuro Snag the insignia AURA Link WIE Women in Engineering Power and Energy Society PES SBC Quihua Huang Boby Philip Kerala India Kochi Best volunteer volunteering Computer">
    <link rel="stylesheet" type="text/CSS"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/CSS"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito:wght@800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/logos/ieee_favicon.ico" type="image/gif">
    <link rel="stylesheet" href="/stylesheets/pes.css">

    <title>RSET IEEE PES: Advancing Towards a Brighter Future.</title>
</head>

<body>