<section id="ending" class="py-2">
    <div class="pt-3 pt-lg-5 container">
        <div class="row justify-content-center" id="extras">
            <div class="col-12 col-lg-6">
                <section id="downloads">
                    <div class="pl-3 pl-lg-2">
                        <h2 class="h1 animated fadeInLeft pt-2" data-wow-delay="300ms">Downloads</h2>
                        <div style="width: 80%;">
                            <hr>
                        </div>
                        <ul>
                            <li>
                                <a href="/downloads/IMPULSE_(RSET DEE Magazine).pdf" class="text-white" download>Impulse
                                    Magazine (DEE & IEEE PES SBC RSET)</a>
                            </li>
                            <li>
                                <a href="/downloads/RSET_IEEE_SB_2016-17.pdf" class="text-white" download>Newsletter
                                    2016-17</a>
                            </li>
                            <li>
                                <a href="/downloads/RSET_IEEE_SB_2015-16.pdf" class="text-white" download>Newsletter
                                    2015-16</a>
                            </li>
                            <li>
                                <a href="/downloads/RSET_IEEE_SB_2014-15.pdf" class="text-white" download>Newsletter
                                    2014-15</a>
                            </li>
                            <li>
                                <a href="/downloads/RSET_IEEE_SB_2013-14.pdf" class="text-white" download>Newsletter
                                    2013-14</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-12 col-lg-6">
                <section id="links">
                    <div class="pl-3 pl-lg-2">
                        <h2 class="h1 animated fadeInLeft pt-2" data-wow-delay="300ms">Links</h2>
                        <div style="width: 80%;">
                            <hr>
                        </div>
                        <ul>
                            <li>
                                <a target="_blank" class="text-white" href="https://www.ieee.org/">IEEE.org</a>
                            </li>
                            <li>
                                <a target="_blank" class="text-white" href="https://www.ieeer10.org/">IEEE Region 10</a>
                            </li>
                            <li>
                                <a target="_blank" class="text-white" href="https://ieeekerala.org/">IEEE Kerala
                                    Section</a>
                            </li>
                            <li>
                                <a target="_blank" class="text-white" href="http://kochi.ieeekerala.org/">IEEE Kochi
                                    Subsection</a>
                            </li>
                            <li>
                                <a target="_blank" class="text-white"
                                    href="https://ieeexplore.ieee.org/Xplore/home.jsp">IEEE Xplore Digital Library</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <section id="contact" class="pt-3 pt-lg-5 container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="pl-3 pl-lg-2">
                    <h2 class="h1 animated fadeInLeft pt-2" data-wow-delay="300ms">Get in touch</h2>
                    <div style="width: 80%;">
                        <hr>
                    </div>
                </div>
                <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="400ms">
                    <h3>Address</h3>
                    <p>IEEE Student Branch<br>
                        Rajagiri School of Engineering and Technology <br>
                        Kakkanad, Kochi <br>
                        Kerala - 682039</p>
                </div>
                <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="500ms">
                    <h3>Social Media Links</h3>
                    <p>
                        Stay tuned to our latest activities through trending platforms!
                    </p>
                    <p class="text-white">
                    <div class="row">
                        <div class="col soc-med">
                            <a target="_blank"
                                href="https://www.linkedin.com/company/ieee-student-branch-rajagiri-school-of-engineering-technology">
                                <i class="pr-2 fa fa-linkedin-square"></i>
                            </a>
                        </div>
                        <div class="col soc-med">
                            <a target="_blank" href="https://www.instagram.com/ieeersetsb">
                                <i class="pr-2 fa fa-instagram"></i>
                            </a>
                        </div>
                        <div class="col soc-med">
                            <a target="_blank" href="https://www.facebook.com/rsetieeesb">
                                <i class="pl-2 fa fa-facebook-square"></i>
                            </a>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="600ms">
                    <h3>Contact Details</h3>
                    <p>
                        Feel free to contact us anytime at our E-mail ID:
                        <br> rsetieeesb@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-4 mt-lg-1">
                <div class="row justify-content-center mapxx">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15717.132266812512!2d76.3580909!3d9.9934604!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc81786bb40617774!2sRajagiri%20School%20of%20Engineering%20%26%20Technology!5e0!3m2!1sen!2sin!4v1593065372478!5m2!1sen!2sin"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="credits">
        <div class="row justify-content-center pt-5 mt-3">
            <div class="col-12 text-center">
                <p class="mb-2">
                    Designed and Developed by <strong>Ananthu T Mani</strong>
                </p>
                <p class="icons" id="bottomline">
                    <a target="_blank" href="https://github.com/ananthutmani">
                        <i class="pr-2 fa fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/ananthu-t-mani">
                        <i class="pl-2 fa fa-linkedin"></i>
                    </a>
                </p>
            </div>
        </div>
    </section>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="/scripts/sbmain.js"></script>
</body>

</html>