<%- include ("../partials/sbheader") %>
<section id="navigation_bar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbr" style="background-color: #0072A6;">
        <a class="navbar-brand" href="/">
            <img src="images/logos/type.png" class="img-fluid" alt="IEEE SB RSET">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">EXECOM</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<section class="container" style="min-height: 75vh; margin-top: 15vh;">
    <section id="office">
        <section id="office-text">
            <div class="row mt-4 mx-2 mx-md-0">
                <div class="justify-content-end">
                    <h1 class="section-header">
                        Office Bearers
                    </h1>
                    <hr>
                    <div class="text-justify">
                        <p>
                            The pillar of every successful organization is none other than its executive committee.
                            Called the EXECOM in short, the team behind RSET IEEE SB has been consistently coordinating
                            the efforts of its 300+ members through the year. Given below is a gallery of these heroes,
                            who have brought recognition and fame to the IEEE student branch of this instituition.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="Office-Bearers-2020" class="execom-detailed mt-3">
            <h2>
                2019-2020
            </h2>
            <hr>
            <div class="container-fluid mt-2 mb-5">
                <div class="execommembers">
                    <div class="row justify-content-center">
                        <div class="col-5 col-md-3 col-lg-2 py-3">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center wow animated zoomIn"
                                    data-wow-delay="500ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/1nszozX.jpg" class="img-fluid"
                                                    alt="Dr. Elizabeth Rita Samuel">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Dr. Elizabeth Rita Samuel</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Branch Counsellor</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center wow animated zoomIn"
                                    data-wow-delay="600ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/6Lh7epw.png" class="img-fluid"
                                                    alt="Rohit Joseph Mathew">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Rohith Joseph Mathew</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Chair</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center wow animated zoomIn"
                                    data-wow-delay="600ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/h9Hn2l2.jpg" class="img-fluid"
                                                    alt="Hisham Sherief">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Hisham Sherief</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Vice-Chair</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center wow animated zoomIn"
                                    data-wow-delay="600ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/bSHoNDj.jpg" class="img-fluid"
                                                    alt="Arjun Sunil Kumar">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Arjun Sunil Kumar</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Secretary</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3" id="stani">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center wow animated zoomIn"
                                    data-wow-delay="700ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/St8GEqe.jpg" class="img-fluid"
                                                    alt="Greeshma Stani">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Greeshma Stani</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Treasurer</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="700ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/lF0YfoS.jpg" class="img-fluid"
                                                    alt="Diya Denny">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Diya Denny</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Technical Coordinator</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="800ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/wY41Qgk.jpg" class="img-fluid"
                                                    alt="Suveta Yadav">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Suveta Yadav</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>WiE Chair</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="900ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/DjqMepw.jpg" class="img-fluid"
                                                    alt="Sanju Ebey">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Sanju Ebey</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Webmaster</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/CTniPvA.png" class="img-fluid"
                                                    alt="Sourav AK">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Sourav AK</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Design Lead</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn" id="sidharth">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/ZTo4gJa.jpg" class="img-fluid"
                                                    alt="Sidharth S">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Sidharth S</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Link Representative</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn" id="pratibha">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/ccaa2a4.jpg" class="img-fluid"
                                                    alt="Ms. Prathibha PK">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Ms. Prathibha PK</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>PES Faculty Advisor</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/asXKFld.jpg" class="img-fluid"
                                                    alt="George Thomas">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>George Thomas</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>PES Chair</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/wPzIFev.jpg" class="img-fluid"
                                                    alt="Eldho Babu">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Eldho Babu</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>PES Vice-Chair</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/CYIGxRL.jpg" class="img-fluid"
                                                    alt="Ananthu T Mani">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Ananthu T Mani</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>PES Secretary</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/C8UM3bM.jpg" class="img-fluid"
                                                    alt="Sonal Saju">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Sonal Saju</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>PES WiP Representative</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/rqozkVy.jpg" class="img-fluid"
                                                    alt="Mrs. Anu Maria Joykutty">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Ms. Anu Maria Joykutty</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>CS Faculty Advisor</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/WKNOTO8.jpg" class="img-fluid"
                                                    alt="Ann Rose Cherian">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Ann Rose Cherian</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>CS Chair</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/kTk7AJH.jpg" class="img-fluid"
                                                    alt="Vinay Mathew">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Vinay Mathew</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>CS Vice-Chair</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/VeIjE2u.png" class="img-fluid"
                                                    alt="Mr. Nitheesh Kurian">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Mr. Nitheesh Kurian</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>IAS Faculty Advisor</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/3DViWwW.jpg" class="img-fluid"
                                                    alt="Nivetha KM">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Nivetha KM</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>IAS Chair</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/GgsfAUz.jpg" class="img-fluid"
                                                    alt="Thomaskutty K Jimmy">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>Thomaskutty K Jimmy</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>IAS Vice-Chair</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                            <div class="row justify-content-center">
                                <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="execomimage">
                                                <img src="https://i.imgur.com/l8fs1OV.jpg" class="img-fluid"
                                                    alt="P Aiswarya">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="execomtext">
                                <div class="row justify-content-center text-center pt-3">
                                    <h3>P Aiswarya</h3>
                                </div>
                                <div class="row justify-content-center text-center">
                                    <h4>Treasurer</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-5 pb-2 pb-lg-4">
                        <div class="col-10 col-md-8 col-lg-5 tier1" id="firstset">
                            <a onclick="expand1()" href="#stani" class="btn btn-outline-info"
                                style="width: 100%; font-size: 16px;">View More</a>
                        </div>
                        <div class="col-10 col-md-8 col-lg-5 tier2 d-none" id="secondset">
                            <div class="row justify-content-around">
                                <a onclick="expand2()" href="#pratibha" class="btn btn-outline-info"
                                    style="width: 45%; font-size: 16px;">View More</a>
                                <a href="#Office-Bearers-2020" onclick="expand1()" class="btn btn-outline-info"
                                    style="width: 45%; font-size: 16px;">View Less</a>
                            </div>
                        </div>
                        <div class="col-10 col-md-8 col-lg-5 tier3 d-none" id="thirdset">
                            <div class="row justify-content-around">
                                <a href="#sidharth" onclick="expand2()" class="btn btn-outline-info"
                                    style="width: 100%; font-size: 16px;">View Less</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<section id="ending" class="py-2">
    <section id="contact" class="pt-3 pt-lg-5 container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="pl-3 pl-lg-2">
                    <h1 class="animated fadeInLeft pt-2" data-wow-delay="300ms">Contact us</h1>
                </div>
                <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="500ms">
                    <h3>Address</h3>
                    <p>IEEE Student Branch<br>
                        Rajagiri School of Engineering and Technology <br>
                        Kakkanad, Kochi <br>
                        Kerala - 682039</p>
                </div>

                <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="500ms">
                    <h3>Contact Details</h3>
                    <p>
                        Feel free to contact us anytime at our E-mail ID:
                        <br> rsetieeesb@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-4 mt-lg-1">
                <div class="row justify-content-center mapxx">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15717.132266812512!2d76.3580909!3d9.9934604!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc81786bb40617774!2sRajagiri%20School%20of%20Engineering%20%26%20Technology!5e0!3m2!1sen!2sin!4v1593065372478!5m2!1sen!2sin"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="credits">
        <div class="row justify-content-center pt-5 mt-3">
            <div class="col-12 text-center">
                <p class="mb-2">
                    Designed and Developed by <strong>Ananthu T Mani</strong>
                </p>
                <p class="icons" id="bottomline">
                    <a target="_blank" href="https://github.com/ananthutmani">
                        <i class="pr-2 fa fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/ananthu-t-mani">
                        <i class="pl-2 fa fa-linkedin"></i>
                    </a>
                </p>
            </div>
        </div>
    </section>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="/scripts/sbexecom.js"></script>
</body>

</html>