<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <link rel="stylesheet" href="/stylesheets/sbmain.css">
    <title>IEEE SB RSET</title>
</head>

<body>
    <section id="preloader" class="bulb">
        <div class="container1">
            <svg version="1.1" id="hei-loader" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-16 5.5 115.3 141.5"
                style="enable-background:new -16 5.5 115.3 141.5;" xml:space="preserve">

                <g id="bulb_1_">
                    <path id="bulb-body-fill" class="st0" d="M79.7,67.8c0-18.4-16.9-33.2-37.7-33.2S4.3,49.4,4.3,67.8c0,7.3,2.7,14,7.1,19.4
              c0.5,0.7,15.5,21.9,16.7,30.8c1.3,9.1,1.3,11.5,1.3,11.5h25.2c0,0,0-2.4,1.3-11.5c1.3-8.9,16.2-30,16.7-30.8
              C77.1,81.8,79.7,75.1,79.7,67.8" />
                    <path id="bulb-body" class="st1" d="M79.4,67.8c0-18.4-16.9-33.2-37.7-33.2S4,49.4,4,67.8c0,7.3,2.7,14,7.1,19.4
              c0.5,0.7,15.5,21.9,16.7,30.8c1.3,9.1,1.3,11.5,1.3,11.5h25.2c0,0,0-2.4,1.3-11.5c1.3-8.9,16.2-30,16.7-30.8
              C76.8,81.8,79.4,75.1,79.4,67.8" />
                    <g>
                        <line id="one" class="st2" x1="-15.3" y1="36.8" x2="-4.8" y2="47.4" />
                        <line id="two" class="st2" x1="-3.4" y1="16.6" x2="8.1" y2="32.7" />
                        <line id="three" class="st2" x1="21" y1="13.2" x2="24.5" y2="26.8" />
                        <line id="four" class="st2" x1="41.4" y1="5.5" x2="42.3" y2="24.9" />
                        <line id="five" class="st2" x1="61.9" y1="14.2" x2="57.8" y2="27.9" />
                        <line id="six" class="st2" x1="88.2" y1="19.4" x2="74.5" y2="34" />
                        <line id="seven" class="st2" x1="98.7" y1="40" x2="86.2" y2="48.8" />
                    </g>
                    <line id="middle-screw" class="st1" x1="25.9" y1="138.5" x2="58" y2="138.5" />
                    <line id="bottom-screw" class="st1" x1="25.9" y1="146" x2="58" y2="146" />
                </g>
            </svg>
        </div>
    </section>
    <section id="navigation_bar">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbr">
            <a class="navbar-brand" href="#">
                <img src="images/logos/type.png" class="img-fluid" alt="IEEE SB RSET">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#office">EXECOM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#societies">SOCIETIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#events">EVENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">CONTACT</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Welcome Administrator</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <section id="home">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carouselimage one"></div>
                </div>
                <div class="carousel-item">
                    <div class="carouselimage two"></div>
                </div>
                <div class="carousel-item">
                    <div class="carouselimage three"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section class="maincontent px-4 container pt-2 pb-5">
        <section id="about">
            <div class="row my-4 justify-content-lg-between justify-content-center">
                <div class="col-12 col-lg-7 row justify-content-center px-0 order-2 order-lg-1 mt-lg-4">
                    <div class="col-12 mb-md-4">
                        <img src="images/misc/unity.jpg" alt="RSET IEEE SB" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-lg-5 px-0 order-1 order-lg-2 mb-3 mb-lg-0">
                    <h1>
                        About
                    </h1>
                    <div class="text-justify">
                        <p>
                            The IEEE Student Branch Chapter of Rajagiri school of Engineering and Technology is the
                            product of a combined effort from the qualified faculty members and talented students of
                            RSET. We are a gathering of energetic and innovative individuals from various disciplines of
                            engineering. By joining hands with IEEE we have pledged to make the world a better place,
                            thereby manifesting a fitter path for the ages to come.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="office">
            <section id="office-text">
                <div class="row mt-4">
                    <div class="justify-content-end">
                        <h1>
                            Office Bearers
                        </h1>
                        <div class="text-justify">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro consequatur recusandae
                                nisi natus illo, est blanditiis non debitis quaerat maxime corporis deserunt? Nostrum
                                veniam id ipsum! Repudiandae ex voluptatum dolore sint. Consequuntur perferendis esse
                                reprehenderit error, autem nam odit tenetur.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="Office-Bearers">
                <div class="container-fluid mt-2 mb-5">
                    <div class="execommembers">
                        <div class="row justify-content-center">
                            <div class="col-5 col-md-3 col-lg-2 py-3">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="500ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Dr. Elizabeth Rita Samuel.jpeg"
                                                        class="img-fluid" alt="Dr. Elizabeth Rita Samuel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Dr. Elizabeth Rita Samuel</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Branch Counsellor</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="600ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Rohith Joseph Mathew.png" class="img-fluid"
                                                        alt="Rohit Joseph Mathew">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Rohith Joseph Mathew</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="600ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Hisham Sherief.jpg" class="img-fluid"
                                                        alt="Hisham Sherief">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Hisham Sherief</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Vice-Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="600ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Arjun Sunil Kumar.jpg" class="img-fluid"
                                                        alt="Arjun Sunil Kumar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Arjun Sunil Kumar</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Secretary</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3" id="stani">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="700ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Greeshma Stani.jpeg" class="img-fluid"
                                                        alt="Greeshma Stani">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Greeshma Stani</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Treasurer</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="700ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Diya Denny.jpeg" class="img-fluid"
                                                        alt="Diya Denny">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Diya Denny</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Technical Coordinator</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="800ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Suveta Yadav.JPG" class="img-fluid"
                                                        alt="Suveta Yadav">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Suveta Yadav</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>WiE Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="900ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Sanju Jacob Ebey.jpg" class="img-fluid"
                                                        alt="Sanju Ebey">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Sanju Ebey</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Webmaster</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Sourav A K.png" class="img-fluid"
                                                        alt="Sourav AK">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Sourav AK</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Design Lead</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear1 wow animated zoomIn"
                                id="sidharth">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Sidharth S.jpeg" class="img-fluid"
                                                        alt="Sidharth S">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Sidharth S</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Link Representative</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn"
                                id="pratibha">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/pratibhapk.jpeg" class="img-fluid"
                                                        alt="Ms. Prathibha PK">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Ms. Prathibha PK</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>PES Faculty Advisor</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/george.jpg" class="img-fluid"
                                                        alt="George Thomas">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>George Thomas</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>PES Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/eldho.jpg" class="img-fluid"
                                                        alt="Eldho Babu">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Eldho Babu</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>PES Vice-Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Ananthu.jpg" class="img-fluid"
                                                        alt="Ananthu T Mani">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Ananthu T Mani</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>PES Secretary</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Sonal.jpeg" class="img-fluid"
                                                        alt="Sonal Saju">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Sonal Saju</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>PES WiP Representative</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Mrs. Anu Maria Joykutty.jpg"
                                                        class="img-fluid" alt="Mrs. Anu Maria Joykutty">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Ms. Anu Maria Joykutty</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>CS Faculty Advisor</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Ann Rose Cherian.jpg" class="img-fluid"
                                                        alt="Ann Rose Cherian">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Ann Rose Cherian</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>CS Chair</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Vinay Mathew Varghese.JPG" class="img-fluid"
                                                        alt="Vinay Mathew">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Vinay Mathew</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>CS Vice-Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Mr. Nitheesh Kurian.png" class="img-fluid"
                                                        alt="Mr. Nitheesh Kurian">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Mr. Nitheesh Kurian</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>IAS Faculty Advisor</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Nivetha K M.jpg" class="img-fluid"
                                                        alt="Nivetha KM">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Nivetha KM</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>IAS Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/Thomaskutty K Gimmy.JPG" class="img-fluid"
                                                        alt="Thomaskutty K Jimmy">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>Thomaskutty K Jimmy</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>IAS Vice-Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-2 py-3 d-none disappear2 wow animated zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="1000ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="images/EXECOM/P Aiswarya.jpg" class="img-fluid"
                                                        alt="P Aiswarya">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3>P Aiswarya</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Treasurer</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mb-5 pb-2 pb-lg-4">
                            <div class="col-10 col-md-8 col-lg-5 tier1" id="firstset">
                                <a onclick="expand1()" href="#stani" class="btn btn-outline-info"
                                    style="width: 100%; font-size: 16px;">View More</a>
                            </div>
                            <div class="col-10 col-md-8 col-lg-5 tier2 d-none" id="secondset">
                                <div class="row justify-content-around">
                                    <a onclick="expand2()" href="#pratibha" class="btn btn-outline-info"
                                        style="width: 45%; font-size: 16px;">View More</a>
                                    <a href="#Office-Bearers" onclick="expand1()" class="btn btn-outline-info"
                                        style="width: 45%; font-size: 16px;">View Less</a>
                                </div>
                            </div>
                            <div class="col-10 col-md-8 col-lg-5 tier3 d-none" id="thirdset">
                                <div class="row justify-content-around">
                                    <a href="#sidharth" onclick="expand2()" class="btn btn-outline-info"
                                        style="width: 100%; font-size: 16px;">View Less</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section id="societies">
            <div class="row justify-content-end">
                <div>
                    <div>
                        <h1>
                            Societies & Affinity Groups
                        </h1>
                    </div>
                    <div class="text-justify">
                        <p>
                            The IEEE has several societies that offer various benefits to the people who wish to be
                            keep in touch with the latest trends in their field of interest. Currently, there are three
                            Technical Societies and an Affinity Group that are
                            active under our Student Branch:
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" id="societyparts">
                <div class="societydivs col-12 col-md-6 col-lg-4 row justify-content-center px-4 my-4">
                    <img src="images/logos/wie.png" alt="" class="img-fluid mb-3">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Women in Engineering</h4>
                        <hr>
                        <p>IEEE WIE is one of the world’s leaders in changing the face of engineering. Its global
                            network connects nearly 20,000 members in over 100 countries to advance women in technology
                            at all points in their life and career. IEEE WIE members make lifelong friendships, acquire
                            influential mentors, and make a difference for the benefit of humanity.</p>
                        <div class="row justify-content-center my-2">
                            <a href="#" target="_blank" class="btn btn-light">Visit Website</a>
                        </div>
                    </div>
                </div>
                <div class="societydivs col-12 col-md-6 col-lg-4 row justify-content-center px-4 my-4">
                    <img src="images/logos/PESlogo.png" alt="" class="img-fluid mb-3">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Power & Energy Society</h4>
                        <hr>
                        <p>The Power & Energy Society (PES) provides the world's largest forum for sharing the latest
                            technological developments in the electric power industry. The PES student branch chapter of
                            RSET aims to aid the IEEE in this venture, conducting events in the field of power and
                            energy on topics that are of interest in the global technological scenario.</p>
                        <div class="row justify-content-center my-2">
                            <a href="/pes" target="_blank" class="btn btn-light">Visit Website</a>
                        </div>
                    </div>
                </div>
                <div class="societydivs col-12 col-md-6 col-lg-4 row justify-content-center px-4 my-4">
                    <img src="images/logos/IAS.png" alt="" class="img-fluid mb-3">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Industrial Applications Society</h4>
                        <hr>
                        <p>The Industry Applications Society is interested in advancement of the theory and practice of
                            electrical and electronic engineering in the development, design, manufacture and various
                            other similar fields. The IEEE IAS SBC of RSET keeps true to its mission, holding activites
                            that align with the perspective of their parent organization.</p>
                        <div class="row justify-content-center my-2">
                            <a href="#" target="_blank" class="btn btn-light">Visit Website</a>
                        </div>
                    </div>
                </div>
                <div
                    class="societydivs col-12 col-md-6 col-lg-4 row justify-content-center align-items-between px-4 my-4">
                    <img src="images/logos/CS.png" alt="" class="img-fluid pt-0 pt-md-4 my-4">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Computer Society</h4>
                        <hr>
                        <p>The IEEE Computer Society is the premier source for information, inspiration, and
                            collaboration in computer science and engineering. The IEEE CS society too aims to provide a
                            platform for those who wish to nourish their career opportunities or gain expertise in the
                            field of Computer Science. </p>
                        <div class="row justify-content-center my-2">
                            <a href="#" target="_blank" class="btn btn-light">Visit Website</a>
                        </div>
                    </div>
                </div>
                <div
                    class="societydivs col-12 col-md-6 col-lg-4 row justify-content-center align-items-between px-4 my-4">
                    <img src="images/logos/CS.png" alt="" class="img-fluid pt-0 pt-md-4 my-4">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Computer Society</h4>
                        <hr>
                        <p>The IEEE Computer Society is the premier source for information, inspiration, and
                            collaboration in computer science and engineering. The IEEE CS society too aims to provide a
                            platform for those who wish to nourish their career opportunities or gain expertise in the
                            field of Computer Science. </p>
                        <div class="row justify-content-center my-2">
                            <a href="#" target="_blank" class="btn btn-light">Visit Website</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="booster" class="container-fluid mt-3 stretcher text-white">
        <div class="container bgtext">
            <div class="row w-100 py-4 pl-5 pl-md-1">
                <div class="col-12 col-md-4 py-2 pt-md-4 row justify-content-center align-items-center"
                    style="height: 100%;">
                    <h1 class="col-12"><strong>Treading towards a Brighter Future</strong></h1>
                </div>
                <div class="col-12 col-md-8 w-100 row justify-content-between align-items-center mt-4 mt-md-0"
                    id="counter">
                    <div class="row w-100 justify-content-end ml-lg-5 mt-4">
                        <div class="wow animate__animated animate__fadeIn col-12 col-md-4 row justify-content-center parent"
                            data-wow-delay="500ms">
                            <p><span class="countnum"><span class="timer1"></span><span
                                        class="plus">+</span></span><br>Achievements</p>
                        </div>
                        <div class="wow animate__animated animate__fadeIn col-12 col-md-4 row justify-content-center parent"
                            data-wow-delay="700ms">
                            <p><span class="countnum"><span class="timer2"></span><span
                                        class="plus">+</span></span><br>Events in 2020</p>
                        </div>
                        <div class="wow animate__animated animate__fadeIn col-12 col-md-4 row justify-content-center parent"
                            data-wow-delay="900ms">
                            <p><span class="countnum"><span class="timer3"></span><span
                                        class="plus">+</span></span><br>Members</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="maincontent px-4 container py-5">
        <section id="achievements">
            <div class="row">
                <div>
                    <div>
                        <h1>
                            Achievements
                        </h1>
                    </div>
                    <div class="container">
                        <p class="text-justify">
                            The IEEE SB of RSET has proven its worth in several platforms over the years. From state
                            wide competitions to global recognition, our SB has risen to the top through both talent and
                            perseverance. Feel free to browse through the achievements that we have gathered below.
                        </p>
                    </div>
                </div>
                <div class="owl-carousel text-center">
                    <div class="achievement-block mx-1">
                        <img src="images/misc/exuro.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="achievement-block mx-1">
                        <img src="images/misc/KHMwar.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="achievement-block mx-1">
                        <img src="images/misc/Orion.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="achievement-block mx-1">
                        <img src="images/misc/exuro.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="achievement-block mx-1">
                        <img src="images/misc/exuro.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="achievement-block mx-1">
                        <img src="images/misc/exuro.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="achievement-block mx-1">
                        <img src="images/misc/exuro.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

        </section>
        <section id="gallery">
            <div class="row">
                <div>
                    <div>
                        <h1>
                            Gallery
                        </h1>
                    </div>
                    <div class="text-justify">
                        <p>
                            Through thousands of events over the years, the members of our Student Branch (SB) have
                            amassed a great number of experiences and fond memories while setting the groundwork for a
                            successful professional life. Have a walk with us down the memory lane, where we
                            hold our dearest and most enriching of memories.
                        </p>
                    </div>
                </div>
                <!-- Gallery -->
                <div class="slideshow-container my-5 ">
                    <div class="mySlides fade">
                        <div class="imagebox">
                            <img src="images/Image-Slider2/1.png" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">
                                    <h3 id="hovertitle">TalkLoop</h3>
                                    <p id="hovertext">
                                        TalkLoop was an interactive series of talks held by the IEEE SB of RSET,
                                        showcasing
                                        people from various walks of life and how they rose to fame and success.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade">
                        <div class="imagebox">
                            <img src="images/Image-Slider2/2.jpg" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">
                                    <h3 id="hovertitle">Visit to KMRL</h3>
                                    <p id="hovertext">
                                        The RSET IEEE IAS SBC conducted an industrial visit to the Kochi Metro Rail
                                        Limited,
                                        giving its student members a picture of how an engineer works at the industrial
                                        level.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade">
                        <div class="imagebox">
                            <img src="images/Image-Slider2/1.jpeg" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">
                                    <h3 id="hovertitle">TechRev 2020</h3>
                                    <p id="hovertext">
                                        TechRev was an electronics based talk session conducted by the PES SBC of RSET.
                                        It
                                        was led by Mr. Rahul Sivan, CEO of ATWIC R&D.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade">
                        <div class="imagebox">
                            <img src="images/Image-Slider2/3.jpeg" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">
                                    <h3 id="hovertitle">Interactive Session on EV's</h3>
                                    <p id="hovertext">
                                        The PES SBC of RSET conducted an interactive session on Electric Vehicles. For
                                        this,
                                        they
                                        had arranged the arrival of the Hyundai Kona, an EV, to our college.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade">
                        <div class="imagebox">
                            <img src="images/Image-Slider2/5.jpg" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">
                                    <h3 id="hovertitle">Prathivaadh</h3>
                                    <p id="hovertext">
                                        This was a debate competition conducted by the WiE affinity group of RSET
                                        IEEE SB. Given here is a photo of the finalists of the competition.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade">
                        <div class="imagebox">
                            <img src="images/Image-Slider2/6.jpg" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">
                                    <h3 id="hovertitle">IEEE Xtreme Mock Session</h3>
                                    <p id="hovertext">
                                        The RSET IEEE SB conducted a mock Xtreme to help students get an idea of how it
                                        is
                                        held and what kind of questions to expect.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="prev text-white" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next text-white" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </section>
        <section id="events">
            <div class="row">
                <div>
                    <div>
                        <h1>
                            Events
                        </h1>
                    </div>
                    <div class="text-justify">
                        <p>
                            The IEEE SB of RSET conducts a lot of innovative technically oriented events which help
                            student members to shape
                            their engineering career. As the pioneers of a brighter future, we realize that such events
                            play a major role in shaping a future
                            brimming with capable engineers.
                        </p>
                    </div>
                </div>
                <div class="row my-3 eventcardholder">
                    <div class="col-12">
                        <h2>Upcoming Events</h2>
                        <hr>
                        <div class="row justify-content-around">
                            <div class="col-10 col-md-6 col-lg-4 px-4 my-3 eventcards">
                                <div class="row justify-content-center">
                                    <img src="images/misc/Quihua.jpeg" alt="Please Refresh Page" class="mt-3 img-fluid"
                                        style="max-height: 400px;">
                                </div>
                                <h3 class="text-center pt-3">Event Name</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quam eum non
                                    omnis
                                    error, commodi modi dicta, atque quisquam quasi dolorem asperiores sapiente!
                                    Veniam sint
                                    perspiciatis quae mollitia quod nesciunt quaerat accusamus aliquam, iste at
                                    eaque
                                    ratione exercitationem tempora sit.</p>
                                <div class="row justify-content-center my-3">
                                    <a href="#" target="_blank" class="btn btn-outline-info">Register Now</a>
                                    <div class="col-12 row justify-content-center my-3">
                                        <a href="#" class="btn btn-warning mr-4">Edit</a>
                                        <a href="#" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 col-md-6 col-lg-4 px-4 my-3 eventcards">
                                <div class="row justify-content-center">
                                    <img src="images/misc/Quihua.jpeg" alt="Please Refresh Page" class="mt-3 img-fluid"
                                        style="max-height: 400px;">
                                </div>
                                <h3 class="text-center pt-3">Event Name</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quam eum non
                                    omnis
                                    error, commodi modi dicta, atque quisquam quasi dolorem asperiores sapiente!
                                    Veniam sint
                                    perspiciatis quae mollitia quod nesciunt quaerat accusamus aliquam, iste at
                                    eaque
                                    ratione exercitationem tempora sit.</p>
                                <div class="row justify-content-center my-3">
                                    <a href="#" target="_blank" class="btn btn-outline-info">Register Now</a>
                                    <div class="col-12 row justify-content-center my-3">
                                        <a href="#" class="btn btn-warning mr-4">Edit</a>
                                        <a href="#" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 col-md-6 col-lg-4 px-4 my-3 eventcards">
                                <div class="row justify-content-center">
                                    <img src="images/misc/Quihua.jpeg" alt="Please Refresh Page" class="mt-3 img-fluid"
                                        style="max-height: 400px;">
                                </div>
                                <h3 class="text-center pt-3">Event Name</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quam eum non
                                    omnis
                                    error, commodi modi dicta, atque quisquam quasi dolorem asperiores sapiente!
                                    Veniam sint
                                    perspiciatis quae mollitia quod nesciunt quaerat accusamus aliquam, iste at
                                    eaque
                                    ratione exercitationem tempora sit.</p>
                                <div class="row justify-content-center my-3">
                                    <a href="#" target="_blank" class="btn btn-outline-info">Register Now</a>
                                    <div class="col-12 row justify-content-center my-3">
                                        <a href="#" class="btn btn-warning mr-4">Edit</a>
                                        <a href="#" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h2>Recent Events</h2>
                        <hr>
                        <div class="row justify-content-around">
                            <div class="col-10 col-md-6 col-lg-4 px-4 my-3 eventcards">
                                <div class="row justify-content-center">
                                    <img src="images/misc/Quihua.jpeg" alt="Please Refresh Page" class="mt-3 img-fluid"
                                        style="max-height: 400px;">
                                </div>
                                <h3 class="text-center pt-3">Event Name</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quam eum non
                                    omnis
                                    error, commodi modi dicta, atque quisquam quasi dolorem asperiores sapiente!
                                    Veniam sint
                                    perspiciatis quae mollitia quod nesciunt quaerat accusamus aliquam, iste at
                                    eaque
                                    ratione exercitationem tempora sit.</p>
                                <div class="col-12 row justify-content-center my-3">
                                    <a href="#" class="btn btn-warning mr-4">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                            <div class="col-10 col-md-6 col-lg-4 px-4 my-3 eventcards">
                                <div class="row justify-content-center">
                                    <img src="images/misc/Quihua.jpeg" alt="Please Refresh Page" class="mt-3 img-fluid"
                                        style="max-height: 400px;">
                                </div>
                                <h3 class="text-center pt-3">Event Name</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quam eum non
                                    omnis
                                    error, commodi modi dicta, atque quisquam quasi dolorem asperiores sapiente!
                                    Veniam sint
                                    perspiciatis quae mollitia quod nesciunt quaerat accusamus aliquam, iste at
                                    eaque
                                    ratione exercitationem tempora sit.</p>
                                <div class="col-12 row justify-content-center my-3">
                                    <a href="#" class="btn btn-warning mr-4">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                            <div class="col-10 col-md-6 col-lg-4 px-4 my-3 eventcards">
                                <div class="row justify-content-center">
                                    <img src="images/misc/Quihua.jpeg" alt="Please Refresh Page" class="mt-3 img-fluid"
                                        style="max-height: 400px;">
                                </div>
                                <h3 class="text-center pt-3">Event Name</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quam eum non
                                    omnis
                                    error, commodi modi dicta, atque quisquam quasi dolorem asperiores sapiente!
                                    Veniam sint
                                    perspiciatis quae mollitia quod nesciunt quaerat accusamus aliquam, iste at
                                    eaque
                                    ratione exercitationem tempora sit.</p>
                                <div class="col-12 row justify-content-center my-3">
                                    <a href="#" class="btn btn-warning mr-4">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                            <div class="container mt-1 mb-5">
                                <a href="#" class="btn btn-outline-info w-100">+ Add New Event</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="testi">
            <div class="row">
                <div>
                    <h1>
                        Testimonials
                    </h1>
                </div>
            </div>
            <div class="testimonialsliderxx my-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div id="testimonial-slider" class="owl-carousel row">
                                <div class="testimonial">
                                    <div class="pic">
                                        <img src="images/misc/Ananthu.jpg">
                                    </div>
                                    <div class="testimonial-profile">
                                        <h3 class="title">williamson</h3>
                                        <span class="post">Web Developer</span>
                                    </div>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros
                                        consequat auctor gravida. Fusce tristique lacus at urna sollicitudin
                                        pulvinar. Suspendisse hendrerit ultrices mauris.
                                    </p>
                                </div>
                                <div class="testimonial">
                                    <div class="pic">
                                        <img src="images/misc/Ananthu.jpg">
                                    </div>
                                    <div class="testimonial-profile">
                                        <h3 class="title">Kristina</h3>
                                        <span class="post">Web Designer</span>
                                    </div>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros
                                        consequat auctor gravida. Fusce tristique lacus at urna sollicitudin
                                        pulvinar. Suspendisse hendrerit ultrices mauris.
                                    </p>
                                </div>
                                <div class="testimonial">
                                    <div class="pic">
                                        <img src="images/misc/Ananthu.jpg">
                                    </div>
                                    <div class="testimonial-profile">
                                        <h3 class="title">Steve Thomas</h3>
                                        <span class="post">Web Developer</span>
                                    </div>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros
                                        consequat auctor gravida. Fusce tristique lacus at urna sollicitudin
                                        pulvinar. Suspendisse hendrerit ultrices mauris.
                                    </p>
                                </div>
                                <div class="testimonial">
                                    <div class="pic">
                                        <img src="images/misc/Ananthu.jpg">
                                    </div>
                                    <div class="testimonial-profile">
                                        <h3 class="title">Steve Thomas</h3>
                                        <span class="post">Web Developer</span>
                                    </div>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros
                                        consequat auctor gravida. Fusce tristique lacus at urna sollicitudin
                                        pulvinar. Suspendisse hendrerit ultrices mauris.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="botmarg" id="membership">
            <div class="row">
                <div>
                    <h1>
                        Membership Benefits
                    </h1>
                </div>
                <div class="text-justify">
                    <p>
                        IEEE is the largest technical organization worldwide, which is striving towards achieving new
                        and advanced
                        technology for the welfare of the human society. Becoming a member of IEEE opens up a whole new
                        plethora of opportunities, especially for students.
                    </p>
                </div>
            </div>
            <div class="row justify-content-around mt-5" id="fullset">
                <div class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards order-2 order-lg-1">
                    <div class="imagetop d-none text-center">
                        <img src="images/svgs1/network.svg" alt="X" class="img-fluid p-3">
                    </div>
                    <div class="cardtext py-4 px-1">
                        <h3>Networking</h3>
                        <hr>
                        <p>
                            Discuss new career prospects and other updates in your field of interest by connecting with
                            senior members in the technical industry from around the world.
                        </p>
                    </div>
                </div>
                <div
                    class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center align-items-center cards ieeecard bg-transparent order-1 order-lg-2">
                    <div class="imagetop row align-items-center justify-content-center">
                        <img src="images/svgs1/IEEE_vector.svg" alt="X" class="img-fluid pr-3 mb-5 mb-md-0">
                    </div>
                </div>
                <div class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards order-3">
                    <div class="imagetop d-none text-center">
                        <img src="images/svgs1/information.svg" alt="X" class="img-fluid p-3">
                    </div>
                    <div class="cardtext py-4 px-1">
                        <h3>Access to information</h3>
                        <hr>
                        <p>
                            IEEE members have exclusive access to a vast library of engineering literature. Resources
                            have never been more easy to access.
                        </p>
                    </div>
                </div>
                <div class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards mt-lg-5 order-4 d-none disappear3"
                    id="volunt">
                    <div class="imagetop d-none text-center">
                        <img src="images/svgs1/Volunteering.svg" alt="X" class="img-fluid p-3">
                    </div>
                    <div class="cardtext py-4 px-1">
                        <h3>Volunteering</h3>
                        <hr>
                        <p>
                            Conduct, participate or volunteer in webinars, workshops and even international conferences
                            with the plethora of connections that come with the IEEE brand.
                        </p>
                    </div>
                </div>
                <div
                    class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards mt-lg-5 order-5 d-none disappear3">
                    <div class="imagetop d-none text-center">
                        <img src="images/svgs1/discount.svg" alt="X" class="img-fluid p-3">
                    </div>
                    <div class="cardtext py-4 px-1">
                        <h3>Discounts</h3>
                        <hr>
                        <p>
                            Bear minimal expenses at our events! By becoming an IEEE member, you get to access various
                            magazines and webinars at special prices, sometimes even for free.
                        </p>
                    </div>
                </div>
                <div
                    class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards mt-lg-5 order-6 d-none disappear3">
                    <div class="imagetop d-none text-center">
                        <img src="images/svgs1/tech.svg" alt="X" class="img-fluid p-3">
                    </div>
                    <div class="cardtext py-4 px-1">
                        <h3>Technical Societies</h3>
                        <hr>
                        <p>
                            With an IEEE membership, you get the opportunity to learn more about your field of interest
                            by joining any one of the Technical Societies under our banner.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-3 pt-lg-5">
                <div class="col-9 col-md-8 row justify-content-center pb-3 cardbutton1">
                    <a onclick="expand3()" href="#volunt" class="btn btn-outline-info"
                        style="width: 100%; padding: 2vh;">View More</a>
                </div>
                <div class="col-9 col-md-8 row justify-content-center pb-3 d-none cardbutton2">
                    <a onclick="expand3()" href="#fullset" class="btn btn-outline-info"
                        style="width: 100%; padding: 2vh;">View Less</a>
                </div>
                <div class="col-9 col-md-8 row justify-content-center">
                    <a href="https://www.ieee.org/membership/join/index.html" target="_blank"
                        class="btn btn-outline-info" style="width: 100%; padding: 2vh;">Join IEEE</a>
                </div>
            </div>
        </section>
    </section>
    <section id="ending" class="py-2">
        <section id="contact" class="pt-3 pt-lg-5 container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="pl-3 pl-lg-2">
                        <h1 class="animated fadeInLeft pt-2" data-wow-delay="300ms">Contact us</h1>
                    </div>
                    <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="500ms">
                        <h3>Address</h3>
                        <p>IEEE Student Branch<br>
                            Rajagiri School of Engineering and Technology <br>
                            Kakkanad, Kochi <br>
                            Kerala - 682039</p>
                    </div>

                    <div class="mt-3 mt-lg-4 animated fadeIn pl-3 pl-lg-2" data-wow-delay="500ms">
                        <h3>Contact Details</h3>
                        <p>
                            Feel free to contact us anytime at our E-mail ID:
                            <br> rsetieeesb@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-4 mt-lg-1">
                    <div class="row justify-content-center mapxx">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15717.132266812512!2d76.3580909!3d9.9934604!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc81786bb40617774!2sRajagiri%20School%20of%20Engineering%20%26%20Technology!5e0!3m2!1sen!2sin!4v1593065372478!5m2!1sen!2sin"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <section id="credits">
            <div class="row justify-content-center pt-5 mt-3">
                <div class="col-12 text-center">
                    <p class="mb-2">
                        Designed and Developed by <strong>Ananthu T Mani</strong>
                    </p>
                    <p class="icons" id="bottomline">
                        <a target="_blank" href="https://github.com/ananthutmani">
                            <i class="pr-2 fa fa-github"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/ananthu-t-mani">
                            <i class="pl-2 fa fa-linkedin"></i>
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="/scripts/sbmain.js"></script>
</body>

</html>